body {
  background-color: white;
  color: black;
}

/* Tema escuro */
.dark-mode body {
  background-color: #1e1e27;
  color: white;
}

/* Exemplo de como inverter botões, cards, etc */
.dark-mode .card {
  background-color: #232224;
  color: white;
}

.dark-mode .btn {
  background-color: #aa002b;
  color: white;
  border: none;
}
.dark-mode .btn:hover{
    background-color: #8b0023;
}

  .theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
  }

  .dark-mode .theme-toggle {
    background-color: #df0139;
    color: #fff;
  }
.highlight {
    color: #df0139;
}
.profile-img {
    max-width: 250px;
    border-radius: 20px;
}
.tech-badge {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
}
.tech-badge:hover{
    transform: scale(1.01);
    cursor: default;
}
.project-card {
    transition: transform 0.2s;
}
.project-card:hover {
    transform: scale(1.01);
}
.project-image {
    border-radius: 5px;
}
.badge-tech {
    margin: 3px;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
}
.banner-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}
.btn{
    background-color: #aa002b;
    color: #fff;
}
.btn:hover{
    background-color: #8b0023;
    color: #fff;
}



/* estilo botão de tema */
.theme-toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.theme-toggle-label {
  background-color: #222;
  border: 2px solid #8b0023;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 2px; */
  /* padding-right: 4px; */
  height: 40px;
  width: 80px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.theme-toggle-label i {
  font-size: 18px;
  z-index: 1;
  width: 50%;
  text-align: center;
}

.theme-toggle-label .fa-sun {
  color: #f1c40f;
  margin-left: -2px;
}

.theme-toggle-label .fa-moon {
  color: #8b0023;
}

.theme-toggle-label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  /* top: 3px; */
  /* left: 3px; */
  /* margin-right: 4px; */
  height: 34px;
  width: 34px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .theme-toggle-label .ball {
  transform: translateX(40px);
}



/* modal do design */

/* Modal padrão */
.modal-content {
  background-color: #fff;
  color: #000;
}

/* Modal no modo escuro */
.dark-mode .modal-content {
  background-color: #28242a;
  color: #fff;
}

/* Cabeçalho do modal */
.modal-header-custom {
  border-bottom: 1px solid #ccc;
}
.dark-mode .modal-header-custom {
  border-bottom: 1px solid #444;
}

/* Botão de fechar no modo escuro */
.dark-mode .btn-close {
  filter: invert(1);
}